*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 90%;
    padding: 2rem 1rem;
    margin: 0 auto;

}

.header_container{
    margin-bottom: 2.8rem;
}

.header_title{
    margin-bottom: 1.5rem;
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    text-align: center;
}

.header_desc{
    width: 90%;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    text-align: center;
    color: rgb(107, 100, 100);
}

.main_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card_container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(226, 220, 220);
    border-radius: 5px;
    place-self: center;
    width: 100%;
}

.card_image_container{
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.card_title_container{
    display: flex;
    flex-direction: column;
    padding-inline: 8px;
    padding-block: 10px;
}

.card_container:hover .card_image{
    transform: scale(1.1);
    transition: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(25,23,23);
    margin-bottom: 0.3rem;
}

.card_title_anchor:hover .card_title{
    color: rgb(59,59,216);
}

.card_desc{
    color: rgb(113,107,107);
    font-size: 1rem;
}

.card_footer_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 8px;
    padding-bottom: 1.5rem;
}

.author_container{
    display:flex;
    align-items: center;
    gap: 8px;
}

.author_avatar_container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 50%;
    background-color: rgb(243,239,239);
}

.author_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author_name{
    color: rgb(38,38,149);
}

.author_date{
    color: rgb(136,126,126);
}

.tag_container{
    font-size: 0.8rem;
    color: grey;
    border: 1px solid rgb(76, 71, 71);
    border-radius: 4px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.5s ease;
}

.tag_container:hover {
    background-color: black;
}

.tag_container:hover a{
   color: white;
}



/* media queries */


@media screen and (min-width: 640px) {
    .header_desc{
        width: 80%;
        font-size: 20px;
        line-height: 24px;
    }

    .card_container{
        width: 40%;
    }

}

@media screen and (min-width: 1024px) {
    .header_desc{
        width: 80%;
        font-size: 24px;
        line-height: 28px;
    }

    .card_container{
        width: 25%;
    }

    .author_name{
        font-size: 12px;
        line-height: 16px;
    }

    .author_date{
        font-size: 12px;
        line-height: 16px;
    }

    .tag_container{
        font-size: 12px;
        line-height: 16px;
        padding: 5px 8px;
        transition: all 0.5s ease;
    }

}


@media screen and (min-width: 1280px) {

    .card_container{
        width: 20%;
    }
}

